*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content-center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --font-size:14px;
  --width-max:1280px;
  --body-padding:var(--size-4);
  --header-height:var(--size-6);
  --color-bg:#FFFFFF;
  --color-bg-2:#424242;
  --color-text-1:#000000;
  --color-text-2:#23d468;
}



body, html{font-family: "Signika Negative", sans-serif; font-size:var(--font-size); font-weight:normal; font-optical-sizing:auto; font-style:normal; letter-spacing:0.13px; 
font-feature-settings:'lnum' 1; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html, body{background-color:#E0E0E0;}
html{scroll-behavior:smooth; min-height:100vh;}
body{overflow-x:hidden;}
a, button{font-weight:bold;}
a, .btn, button{transition:all 0.34s; cursor:pointer}
.btn, a.btn, button.btn, .btn-outline{padding:var(--size-3) var(--size-4); -webkit-appearance:none; text-transform:capitalize; border:1px solid var(--color-text-2); border-radius:var(--size-1);
font-family:"Bungee", sans-serif; font-weight:400; font-style:normal;
display:flex; text-align:center; align-items:center; justify-content:center;}
.btn, a.btn, button.btn{background-color:var(--color-text-2); color:var(--color-text-1);}
.btn-outline{color:var(--color-text-2);}
.btn:hover, a.btn:hover, button.btn:hover, .btn-outline:hover{background-color:var(--color-bg-2); border-color:var(--color-bg-2); color:var(--color-bg);}




.rancak-foundation{display:grid; min-height:100vh; min-height:100svh;}
.sidebar, .result{padding:var(--size-4);}
.sidebar{background-color:var(--color-text-1); color:var(--color-bg);}
.sidebar-container{display:grid; grid-gap:var(--size-5);}
.sidebar-logo img{width:89%; height:auto;}

.sidebar-tab{display:grid; grid-template-columns:repeat(2,1fr);}
.sidebar-tab-button{padding:var(--size-3) var(--size-4); -webkit-appearance:none; border-bottom:3px solid #757575; color:#9E9E9E; text-align:center; text-transform:uppercase;}
.sidebar-tab-button:hover{border-color:var(--color-text-2); color:var(--color-text-2);}
.sidebar-tab-curr{cursor:default; border-color:var(--color-bg) !important; color:var(--color-bg) !important;}

.sidebar-form{display:grid; grid-gap:var(--size-4) var(--size-3); grid-template-columns:repeat(2,1fr);}
.sidebar-form-full{grid-column:1/3;}
.form-box{position:relative; margin-top:var(--size-1);}
.form-box .form-field{width:100%; padding:var(--size-3); background-color:var(--color-bg); color:var(--color-text-1);}
textarea.form-field{min-height:233px;}

.button-generate{width:100%; text-align:center;}



.result-preview-frame{width:800px; height:1132px; background-color:var(--color-text-1); font-size:1.25rem; position:relative;}



.rpf-bg{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%; display:grid; grid-template-columns:1fr auto;}
.rpf-bg-box{background-color:var(--color-bg);}
.rpf-bg-triangle svg{position:relative; margin-left:-1px; width:auto; height:100%; fill:var(--color-bg);}



.rpf-logo-bottom, .domain-name{position:absolute; z-index:1000; bottom:var(--size-6); right:var(--size-6);}
.rpf-logo-bottom svg{width:auto; height:144px;}
.domain-name{left:var(--size-6); right:auto;}



.rpf-content{position:absolute; z-index:2000; top:0; left:0; width:83%; padding:var(--size-5); display:grid; grid-gap:var(--size-4); grid-template-rows:min-content;}
.rpf-logo img{width:auto; height:70px;}
.rpf-head{display:grid; grid-gap:var(--size-2); line-height:150%;}
.rpf-title{font-weight:bold; font-size:1.5rem;}
.rpf-title-2{font-family:"Bungee", sans-serif; font-weight:400; font-style:normal;}
.rpf-title b{color:var(--color-text-2);}
.rpf-data{display:grid; grid-gap:var(--size-3); grid-template-columns:repeat(2,1fr);}
.rpf-table, .rpf-row > *{border-style:solid; border-color:var(--color-text-1);}
.rpf-table, .rpf-row{display:grid;}
.rpf-table{border-left-width:1px; border-top-width:1px;}
.rpf-table-head{background-color:var(--color-text-2); color:var(--color-bg); font-weight:bold; text-transform:uppercase;}
.rpf-row{grid-template-columns:repeat(2,1fr);}
.rpf-row > *{padding:var(--size-3); border-right-width:1px; border-bottom-width:1px; display:flex; align-items:center;}
.rpf-score{justify-content:center;}
.rpf-graph{border:1px solid var(--color-text-1); padding:var(--size-3);}



.rpf-intro{width:89%; line-height:150%; margin:var(--size-5) 0; font-size:1.5rem;}
.rpf-data-player{width:89%;}
.rpf-data-title{font-weight:bold; padding-bottom:var(--size-3);}
.rpf-dl-dot svg{width:auto; height:var(--size-2); margin-right:var(--size-3);}
.rpf-dl-box{padding:var(--size-1) 0; display:grid; grid-gap:var(--size-1); grid-template-columns:auto 150px auto 1fr; align-items:center;}
.rpf-dl-box > *{padding:var(--size-1) 0;}
.rpf-dl-display{border-bottom:1px solid var(--color-text-1);}



.coach-comments{display:grid; grid-gap:var(--size-3); grid-template-columns:auto 1fr; width:80%; line-height:150%;}
.coach-comments-container{white-space:pre-wrap; height:190px;}



.rpf-signature{display:flex;}
.rpf-signature-box{margin-right:var(--size-4);}
.rpf-signature-img, .rpf-signature-info *{text-align:center; font-size:1rem;}
.rpf-signature-img img{width:auto; height:89px;}
.rpf-signature-info{display:grid; margin-top:var(--size-1); padding-top:var(--size-1); border-top:1px solid var(--color-text-1);}
.rpf-signature-name{font-family:"Bungee", sans-serif; font-weight:400; font-style:normal;}





.result-download{display:flex; justify-content:center; margin-top:var(--size-4);}





@media screen and (min-width:0px) and (max-width:1023px){
  
}





@media screen and (min-width:1024px){
  .rancak-foundation{grid-template-columns:300px 1fr;}
}