:root, :before, :after{
  --body-padding:var(--size-5);
  --sidebar-width:200px;
}



.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}



.form-container{grid-gap:var(--size-5);}



.white-box{padding:var(--size-5);}



.rancak-main-2column{grid-template-columns:repeat(2,1fr);}
.rancak-main-3column{grid-template-columns:repeat(3,1fr);}



.rancak-sidebar{--icon-size:var(--size-4); padding-bottom:var(--size-2);}
.sidebar-top{display:grid; grid-gap:var(--size-4); grid-auto-rows:min-content;}
.logo{padding:var(--size-4); height:92px;}

.nav-section{padding:var(--size-1) var(--size-4);}
.nav-box{padding:var(--size-2) var(--size-4); grid-gap:var(--size-2);}
.nav-info{padding:2px 0;}
.nav-user .nav-info{padding:1px 0;}



.rancak-main{}



.dataTable tr > *:last-child{text-align:right;}
.datatable-action{justify-content:flex-end;}



.head-top-page{display:flex; align-items:center; justify-content:space-between;}
.htp-button-list .btn{margin-left:var(--size-1);}



.profile-bio{grid-gap:var(--size-5); grid-template-columns:auto 1fr; align-items:flex-start;}
.profile-coach, .profile-player{grid-template-columns:auto 1fr 1fr;}







@media screen and (min-width:1280px){
  
}







@media screen and (min-width:1360px){
  
}







@media screen and (min-width:1920px){
  
}