body{background-color:#f3f3fe;}
.rancak-foundation{display:grid;}
.rancak-container{width:100%;}
.rancak-left{padding:var(--size-4); display:flex;}
.rancak-left .rancak-container{padding:14px;}
.rancak-right{padding:var(--size-3);}



@media screen and (min-width:0px) and (max-width:1023px){
	
}



@media screen and (min-width:1024px){
  /* body{overflow:hidden;} */
  .rancak-foundation{grid-template-columns:repeat(2,1fr);}
  .rancak-container{max-width:calc((var(--width-max) - (var(--body-padding) * 3)) / 2);}
  .rancak-left{justify-content:flex-end;}
  .rancak-right iframe{min-height:calc(100vh - var(--header-height)); min-height:calc(100svh - var(--header-height));}
}