.rancak-foundation{display:grid;}
.rancak-container{width:100%;}

.bali7-title, .bali7-subtitle{font-size:1.75rem; font-family:"Bungee",sans-serif; font-weight:400; font-style:normal; line-height:100%;}

.rancak-left{padding:var(--size-4); display:flex;}
.rancak-left .rancak-container{padding:14px;}
.bali7-information{display:grid; grid-gap:var(--size-2); line-height:150%; margin-bottom:var(--size-5);}
.bali7-information ul{padding-left:var(--size-4); display:grid; grid-gap:var(--size-2); list-style:disc;}
.bali7-contact{display:flex; flex-wrap:wrap;}
.bali7-button{font-size:0.875rem; padding:var(--size-2) var(--size-3) !important; margin-right:var(--size-2); margin-bottom:var(--size-2);}


.rancak-right{padding:var(--size-3);}



@media screen and (min-width:0px) and (max-width:1023px){
	
}



@media screen and (min-width:1024px){
  /* body{overflow:hidden;} */
  .rancak-foundation{grid-template-columns:repeat(2,1fr);}
  .rancak-container{max-width:calc((var(--width-max) - (var(--body-padding) * 3)) / 2);}
  .rancak-sticky-sidebar{position:sticky; top:calc(var(--size-7) + var(--size-4));}
  .rancak-left{justify-content:flex-end;}
  .rancak-right iframe{min-height:calc(100vh - var(--header-height)); min-height:calc(100svh - var(--header-height));}
}