body{background-image:url(../../2026bali7/bg.jpg); background-size:cover; background-attachment:fixed;}
.bali7-title{color:var(--color-3);}






@media screen and (min-width:0px) and (max-width:1023px){
	
}



@media screen and (min-width:1024px){
  
}