.scb-bg{position:fixed; z-index:1; top:var(--header-height); width:100%; height:calc(100vh - var(--header-height));}
.scb-bg:after{content:''; display:block; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; background-color:rgb(0 0 0 / 34%);}



.login-box, .login-box-form{display:grid; grid-gap:var(--size-4);}
.login-box{width:100%; max-width:377px; padding:var(--size-5); background-color:var(--bg-2); position:relative; z-index:2000; box-shadow:rgb(100 100 111 / 34%) 0px 8px 34px 0px;}
.login-header{line-height:150%; font-size:0.875rem;}
.login-header p{margin-bottom:var(--size-1);}
.lbf-label{margin-bottom:var(--size-1);}
.lbf-error{font-weight:bold; color:var(--color-alert);}



.section-view-report{background:url(../img/bg-6.webp) no-repeat fixed center var(--color-3); background-size:cover; align-items:flex-start;
min-height:calc(100vh - var(--header-height)); min-height:calc(100svh - var(--header-height));}
.svr-header{margin-bottom:var(--size-4); display:grid; grid-gap:var(--size-3);}
.svr-info{display:grid; grid-gap:var(--size-1);}
.svr-name{font-family:"Bungee", sans-serif; font-weight:400; font-style:normal; color:var(--color-2); font-size:1.5rem; line-height:130%;}
.svr-team{color:var(--color-2);}
.svr-download{--button-margin:3px; display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
.svr-download .btn{margin-top:calc(var(--button-margin) * 2); margin-left:var(--button-margin); margin-right:var(--button-margin);}
.svr-embed-notfound{margin-top:calc(var(--size-3) * -1); color:var(--color-2); font-weight:bold;}



.coach-profile{display:grid; grid-gap:var(--size-5);}
.coach-profile .section-title{font-size:1.5rem; margin-bottom:var(--size-3);}
.coach-photo{--aspect-ratio:3/4;}
.coach-photo-frame:before{background-color:var(--color-2);}
.coach-info{--row-space:var(--size-3); display:grid; grid-gap:var(--row-space); grid-auto-rows:min-content; line-height:160%;}
.coach-row{display:grid; grid-template-columns:auto 1fr; grid-gap:var(--size-1); padding-bottom:var(--row-space); border-bottom:1px dashed var(--color-border-form);}
.coach-data{grid-column:1/3; font-weight:bold; color:var(--color-2);}



.training-plan-list{display:grid; grid-gap:var(--size-2);}
.training-plan .section-title{display:grid; grid-gap:var(--size-2);}
.training-plan .section-title .btn{font-size:0.75rem;}
.tpl-box{padding:var(--size-4); background-color:var(--bg-2); border:1px solid var(--color-border); border-radius:var(--rounded-1);
display:grid; grid-gap:var(--size-3); grid-template-columns:1fr auto;}
.tpl-info{line-height:150%;}
.tpl-title{font-weight:bold; color:var(--color-3);}
.tpl-desc{font-size:0.75rem;}
.tpl-download-button{padding:var(--size-3) !important; font-size:0.875rem;}



.quick-access{display:flex; flex-wrap:wrap;}
.quick-access .btn{margin-right:var(--size-2); margin-bottom:var(--size-2);}



.absence-popup-container{position:relative;}
.absence-popup-container .rancak-popup-close{z-index:4000;}
.absence-popup-box{height:88vh !important;}
.absence-popup-box .jotform{overflow:hidden; height:100%;}
.absence-popup-box .jotform iframe{height:100% !important;}



footer{position:relative; z-index:3000;}



.shortcut-container{padding:0; max-width:none;}
.shortcut-box, .shortcut-box .jotform{width:100%;}
.shortcut-box .jotform iframe{height:calc(100vh - var(--header-height)) !important;}
.shortcut-box .jotform iframe::-webkit-scrollbar{width:1px;}



.section-view-player .white-box{margin-top:var(--size-2);}



.player-report, .player-report-list, .prl-left{display:grid;}
.player-report{grid-gap:var(--size-3); grid-template-columns:repeat(auto-fit, minmax(240px,1fr));}
.player-report-list{grid-gap:var(); grid-template-columns:1fr auto; padding:var(--size-3); align-items:center;
backround-color:var(--bg-1); border:1px solid var(--color-border-form); border-radius:var(--rounded-2);}
.prl-left{grid-gap:2px;}
.prl-team{font-weight:normal; color:var(--color-1); font-size:0.75rem;}
.player-report-list:hover .prl-button{background-color:var(--color-2);}

.player-payment{display:grid; grid-gap:var(--size-4);}
.player-payment-list{display:grid; grid-template-columns:repeat(4,1fr); grid-gap:var(--size-3); padding-bottom:var(--size-4); border-bottom:1px dashed var(--color-border-form);}
.ppl-label{font-size:0.75rem; margin-bottom:2px;}
.ppl-info{font-weight:bold; color:var(--color-2);}
.ppl-info[aria-status="Success"]{color:var(--color-4);}
.ppl-info[aria-status="Waiting Confirmation"]{color:#f67d00;}
.ppl-info[aria-status="Failed"]{color:#ff264d;}
@media screen and (min-width:0px) and (max-width:639px){
  .player-payment-list{grid-template-columns:repeat(2,1fr);}
}



@media screen and (min-width:0px) and (max-width:1023px){
  .svr-name, .svr-team{text-align:center;}
}



@media screen and (min-width:568px){
  .coach-profile{grid-template-columns:240px 1fr;}
  .training-plan{grid-column:1/3;}
  .training-plan .section-title{display:flex; justify-content:space-between; align-items:center;}
}



@media screen and (min-width:768px){
  .coach-row{grid-template-columns:120px auto 1fr; grid-gap:var(--size-2);}
  .coach-data{grid-column:auto;}
  .training-plan-list{grid-template-columns:repeat(2,1fr);}
}



@media screen and (min-width:1024px){
  .svr-header{grid-template-columns:1fr auto; align-items:center;}
  .svr-download .btn{margin-right:0; margin-left:calc(var(--button-margin) * 2)}
  
  .absence-popup-box .jotform{min-width:400px;}
  
  .coach-row{grid-template-columns:140px auto 1fr;}
  .coach-profile{grid-template-columns:300px 1fr;}
}