:root, :before, :after{
  --font-size:16px;
  --body-padding:var(--size-5);
  --header-height:var(--size-7);
}



.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}



.site-container{padding-top:var(--size-7); padding-bottom:var(--size-7);}



.header-logo img{height:100px;}
.header-lang{padding-right:var(--body-padding);}
.header-center{display:flex !important; align-items:center; position:static !important; width:auto !important;}



.main-nav, .nav-link{height:100%;}
.main-nav{display:flex;}
.nav-link{display:flex; justify-content:center; align-items:center; padding:0 var(--size-3);}



.section-intro-box{grid-template-columns:1fr auto; max-width:880px;}
.sib-content{padding-right:0;}



.section-cover{max-height:720px;}
.section-cover .site-container{position:static;}
.section-cover-box{display:flex; justify-content:flex-end;}
.scb-bg{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%;} 
.scb-content{position:relative; z-index:1000; max-width:750px; padding:var(--size-6) var(--size-5); display:flex;}
.scb-content-container{padding:var(--size-4); position:relative;}
.scb-content .sib-arrow{transform:scaleX(-1);}
  
  
  
.spg-list{grid-template-columns:repeat(auto-fit, minmax(230px,1fr));}



.section-registration-split{grid-template-columns:repeat(2,1fr);}



.section-methodology .sib-content{padding:var(--size-6);}
.section-methodology-row{display:grid; grid-template-columns:repeat(2,1fr); padding-bottom:var(--size-6);}
.section-methodology .section-intro-box .sib-content{max-width:606px; padding-top:0; padding-bottom:0; grid-auto-rows:min-content;}
.section-methodology .smr-image{max-height:700px; overflow:hidden}
.section-methodology-left .sib-content{padding-right:0;}
.section-methodology-right > *{grid-row:1/2;}
.section-methodology-right .smr-image{grid-column:2/3;}
.section-methodology-right .section-intro-box{display:flex; justify-content:flex-end;}
.section-methodology-right .sib-content{padding-left:0;}







@media screen and (min-width:1280px){
  
}







@media screen and (min-width:1360px){
  
}







@media screen and (min-width:1920px){
  
}